:root {
  --bg-color: #ffe9d2;
  --text-color: #150b33;
  --textlink-color: #fc8864;
  --contrast-color: #fdd05d;
}


html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #5c5c5c;
}
